<!-- Add project fields -->
<div class=" container col-md-6">
  <div class=" container col-md-16">
    <form [formGroup]="mainFormGroup" (ngSubmit)="addOrUpdateProject()">   
      <div class="form-group row col-md-16">
        <div class="col col-md-3">
            <label for="projectName">Project:</label>
        </div>
        <div class="col col-md-9 float-right">
          <input type="text" class="form-control" name="projectName" formControlName="projectName">
          <div *ngIf= "mainFormGroup.controls['projectName'].invalid && (mainFormGroup.controls['projectName'].dirty)" class="alert alert-danger ">
            <div *ngIf = "mainFormGroup.controls['projectName'].errors.required"> 
               A valid Project Name is required
            </div>
          </div>
        </div>
      </div>
   
      <div class="form-group row col-md-16">
        <div class="col col-md-2"></div>
        <div class="col col-md-16">
           <div class="row">
              <div>
                <input type="checkbox" value="setProjectDates" formControlName='setProjectDates' name='setProjectDates'>
                <small>Set Start and End Date</small>
              </div>
 
              <div class="col-md-4 col-sm-12">
                <input class="form-control" placeholder="Start Date" name='startDate' aria-describedby="startDate"
                formControlName='startDate'  ngbDatepicker #startDate="ngbDatepicker" (focus)="startDate.toggle()"/> 
              </div>
                <div class="col col-md-4 col-sm-12">
                <input class="form-control" placeholder="End Date" name='endDate' aria-describedby="endDate"
                 formControlName='endDate' ngbDatepicker #endDate="ngbDatepicker" (focus)="endDate.toggle()"> 
              </div> 
            </div>
        </div>
      </div>
       
         
      <div class="form-group row col-md-16">
        <div class="col col-md-3">
          <label for="priority">Priority:</label>
        </div>
        <div class="col col-md-13">
          <span>
         <i>0 </i> <input type="range" id= "priority" name="priority" formControlName="priority" min="0" max="30" step="1" style="width: 90%"><i> 30</i>
         </span>
        </div>
      </div>    
   
      <div class="form-group row col-md-16">
        <div class="col col-md-3">
          <label for="manager">Manager</label>
        </div>
        <div class="col col-md-5 float-right">
          <input type="text" class="form-control" formControlName='manager' id="manager" name='manager' aria-describedby='manager' readonly>
        </div>
        <div class="col col-md-2">
          <button type="button" class="btn btn-default border" data-toggle="modal" data-target="#userSearch" style="border-radius: 50%">Search</button>
        </div>
      </div>    

      <div class="form-group row col-md-8 float-right">
          <button class="col col-md-16" type="submit" [disabled]="mainFormGroup.pristine || mainFormGroup.invalid">{{ _AddUpdateButton }}</button> &nbsp;
          <button class="col col-md-16" type="submit" [disabled]="mainFormGroup.pristine || mainFormGroup.invalid" (click)="resetProjectForm()">Reset</button>
      </div>
    </form> 
  </div>

  <br>
  <hr>

<!-- Sort fields -->