<h1 *ngIf="errorBlock">
  <div class="errorBanner">{{errorText}}</div>
</h1>

<!-- New User Task fields -->
<!-- <div class=" container col-md-16"> -->
  <div class=" container col-md-16">
    <form [formGroup]="mainFormGroup" (ngSubmit)="addOrUpdateTaskButton()">

      <!-- Project -->
      <div class="form-group row col-md-10">
        <div class="col col-md-2" >
          <label for="projectName" style="font-size: larger"><b>Project:</b></label>
        </div>
        <div class="col col-md-6 float-right">
          <input type="text" class="form-control" formControlName='projectName' id="projectName" name='projectName'
            aria-describedby='projectName' readonly>
        </div>
        <div class="col col-md-2">
          <button type="button" class="btn btn-default border" data-toggle="modal" data-target="#projectSearchModal"
            style="border-radius: 100%" [disabled]="taskId > 0">Search</button>
        </div>
      </div>

      <!-- Task Name -->
      <div class="form-group row col-md-10">
        <div class="col col-md-2">
          <label for="taskName" style="font-size: larger">
            <b>Task:</b>
          </label>
        </div>
        <div class="col col-md-8">
          <input type="text" required pattern=".*\S+.*" class="form-control" name="taskName" formControlName="taskName">
          <div *ngIf="mainFormGroup.controls['taskName'].invalid && (mainFormGroup.controls['taskName'].dirty)"
            class="alert alert-danger ">
            <div *ngIf="mainFormGroup.controls['taskName'].errors.required">
              A valid Task Name is required
            </div>
          </div>
        </div>
      </div>

      <!-- Parent task check box -->
      <div class="form-group row col-md-10">
        <div class="col col-md-2"></div>
        <div class="col col-md-3 float-right">
          <input type="checkbox" value="isParentTask" formControlName='isParentTask' name='isParentTask'
            [disabled]="taskId > 0">
          <label for="parentTask" class="chkBxPadding">  Parent Task</label>
        </div>
      </div>

      <!-- Priority field -->
      <div class="form-group row col-md-10">
        <div class="col col-md-2">
          <label for="priority" style="font-size: larger"> <b> Priority:</b></label>
        </div>
        <div class="col col-md-8">
          <span>
            <i>0</i> 
            <input type="range" id="priority" name="priority" formControlName="priority" min="0" max="30"
              step="1" style="width: 90%">
            <i>30</i>
          </span>
        </div>
      </div>

      <!-- Parent task selection field -->
      <div class="form-group row col-md-10">
        <div class="col col-md-2">
          <label for="parentTaskName" style="font-size: larger"><b>Task:</b> </label>
        </div>
        <div class="col col-md-6 float-right">
          <input type="text" class="form-control" formControlName='parentTaskName' id="parentTaskName"
            name='parentTaskName' aria-describedby='parentTaskName' readonly>
        </div>
        <div class="col col-md-2">
          <button type="button" class="btn btn-default border" data-toggle="modal" data-target="#parentTaskSearchModal"
            style="border-radius: 70%">Search</button>
        </div>
      </div>

      <!-- Task dates fields -->
      <div class="form-group row col-md-12">
        <div class="col col-md-10">
          <div class="row">
            <div class="col col-md-2">
              <label for="startDate" style="font-size: larger"><b>Start Date:</b></label>
            </div>
            <div class="col-md-3 col-sm-12">
              <input class="form-control" placeholder="Start Date" name='startDate' aria-describedby="startDate"
                formControlName='startDate' ngbDatepicker #startDate="ngbDatepicker" (focus)="startDate.toggle()" />
              <div *ngIf="mainFormGroup.controls['startDate'].invalid && (mainFormGroup.controls['startDate'].dirty)"
                class="alert alert-danger ">
                <div *ngIf="mainFormGroup.controls['startDate'].errors.required">
                  Valid Date required
                </div>
              </div>

            </div>
            <div class="col col-md-2">
              <label for="endDate" style="font-size: larger"><b>End Date:</b></label>
            </div>
            <div class="col col-md-3 col-sm-12">
              <input class="form-control" placeholder="End Date" name='endDate' aria-describedby="endDate"
                formControlName='endDate' ngbDatepicker #endDate="ngbDatepicker" (focus)="endDate.toggle()">
              <div *ngIf="mainFormGroup.controls['endDate'].invalid && (mainFormGroup.controls['endDate'].dirty)"
                class="alert alert-danger ">
                <div *ngIf="mainFormGroup.controls['endDate'].errors.required">
                  Valid Date required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- User Search fields -->
      <div class="form-group row col-md-10">
        <div class="col col-md-2">
          <label for="userName" style="font-size: larger"><b>User:</b></label>
        </div>
        <div class="col col-md-6 float-right">
          <input type="text" class="form-control" formControlName='userName' id="userName" name='userName'
            aria-describedby='userName' readonly>
        </div>
        <div class="col col-md-2">
          <button type="button" class="btn btn-default border" data-toggle="modal" data-target="#userSearchModal"
            style="border-radius: 50%">Search</button>
        </div>
      </div>

      <!-- form buttons  -->
      <div class="form-group row col-md-10 float-right">
          <div class="col-md-3"></div>
        <button class="col col-md-2" type="submit" #AddOrUpdate
          [disabled]="mainFormGroup.pristine || mainFormGroup.invalid"> {{ _AddUpdateButton }} </button> 
          <button class="col col-md-2" type="reset" #reset [disabled]="mainFormGroup.pristine"
          (click)="mainFormGroup.reset">Reset</button>
      </div>
    </form>
  </div>

  <br>
  <hr>
  <app-project-search (selectedProject)="selectedProject($event)"></app-project-search>
  <app-task-search (selectedParentTask)="selectedParentTask($event)"></app-task-search>
  <app-user-search (selectedUser)="selectedUser($event)"></app-user-search>
